#addCharacter{
	position: fixed;
   	bottom: 0;
    right: 0;
    width: 300px;
    /*height: 100px;*/
    border: 3px solid #73AD21;
    font: 25px;
    text-align: center;
    padding: 10px;
    margin: 20px;
}
#funnyButtons{
	position: fixed;
}
#button{
	/*position: absolute;*/
	border-radius: 20px;
	background-color: blue;
	color: white;
	font-size: 16px;
	padding: 8px;
}
body{
	/*background-image: url("http://img.youtube.com/vi/-zIRDJLOJyw/hqdefault.jpg");
	height: 100vh;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;*/
    background-color: #FAEBD7;
}

#title{
	color: red;
}
#characters{
    padding: 60px;

}
.wrapper{
    display: inline-block;
    margin: 20px;
    text-align: center;
    font-size: 25px;
}